.in, .out {
  min-width: 400px;
  min-height: 300px;
  max-width: 600px;
  border: solid;
  border-color: grey;
  font-size: 18pt;
  background-color: rgb(213, 233, 207);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  margin: 20px;
  padding: 20px;
  background-color: rgb(213, 233, 207);
  border-radius: 10px;
  border: solid;
  border-color: grey;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

#inputWord {
  font-family:Arial, Helvetica, sans-serif;
  min-width: 300px;
  margin-right: 20px;
  font-size: 14pt;
}

.upperPanel {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  min-height: 30px;
  border: 500px;
  border: solid;
  border-color: grey;
  background-color: rgb(213, 233, 207);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.lowerPanel {
  display: flex;
  flex-direction: row;
}

body {
  display: flex;
  justify-content: center;
  background: rgb(191, 236, 234) url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000) top center fixed no-repeat;  
}

@media (min-width: 1001px) {
  .out {
    margin-left: 10px;
  }
  .in {
    margin-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .lowerPanel {
    display: unset;
  }
  .out {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .main {
    flex-direction:column;
    align-items: center;
  }
  .upperPanel, .lowerPanel {
    font-size: 10px;
  }
  .lowerPanel {
    display: unset;
  }
  .in, .out, .upperPanel {
    max-width: 250px;
    margin: auto;

    word-break: break-all;
  }
  .upperPanel, .in, .out {
    margin-top: 10px;
    width: 400px;
  }
  #inputWord {
    min-width: unset;
    width: 150px;
  }
  button {
    font-size: 12px;
  }
}
  